{% extends "layout.html" %}

{% block content %}
<form method=post enctype=multipart/form-data>
    <p>
        <input type=file name=file>
        <input type=submit value=Upload>
    </p>
    <p>
        <select name="model">
            {% for model in models %}
            <option>{{model}}</option>
            {% endfor %}
        </select>
    </p>
    <p>
        <select name="pbtxt">
            {% for pbtxt in pbtxt_files %}
            <option>{{pbtxt}}</option>
            {% endfor %}
        </select>
    </p>
</form>
{% endblock %}